[package]
name = "game"
version = "0.1.0"
edition = "2024"

[lib]
path = "src/lib.rs"

# [[bin]]
# name = "game"
# path = "src/main.rs"

[dependencies]
bevy.workspace = true
ron.workspace = true
serde.workspace = true
