[package]
name = "beautiful-bushwren"
version = "0.1.0"
edition = "2024"

[profile.dev]
opt-level = 1
debug = 1

[profile.dev.package."*"]
opt-level = 3

[dependencies]
bevy = { version = "0.15", features = ["dynamic_linking", "wayland"] }
